.finder {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  gap: 12px;
  z-index: 9999999;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  @media (min-width: 450px) {
    flex-direction: row;
    bottom: 40px;
  }
  input {
    flex: 1;
    background: transparent;
    color: black;
    border: none;
    outline: none;
    font-size: 20px;
    &::placeholder {
      color: black;
      font-size: 20px;
    }
  }
  button {
    cursor: pointer;
    color: black;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 12px;
  }
}
