html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user-interests {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-interests__title {
  font-weight: 600;
  font-size: 16px;
}
